.hero {
    background-image: url('../img/banner.jpg'); 
    background-size: cover;
    color: #FFF;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center center;
    padding-top: 6.8535260698em;
    padding-bottom: 6.8535260698em;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    margin: 0 0 4.235801032em;
    text-align: center;
}
