/* Reset */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

nav ul, li { 
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {  
    opacity: 1; 
}

