
%display_flex_around {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 4.3em;
}
 
$sizes:
  "category" 300px, 
  "product" 213px;

.store {
   
    & ul.product-itens {
        @extend %display_flex_around;
    }
    
    & h1 {
        font-size: 32px;
        line-height: 39px;
        font-weight: 300;
        text-align: center;
        margin: 1em 0;
        color: #333;
    }

    & ul.product-itens li { 
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    & ul.product-itens li h2 {
        font-size: 16px;
        line-height: 19px;
        color: #333;
        text-align: center;
        font-weight: 400;
        line-height: 1.214;
        margin-bottom: .5407911001em; 
    }
    
    & ul.product-itens li span{
        color: #6d6d6d;
        font-size: 14px;
        text-align: center;
    }

    & ul.product-itens li a {
        margin-top: 20px;
        font-size: 14px;
        line-height: 23px;
        background-color: #eeeeee;
        border-color: #eeeeee;
        color: #333333;
        padding: .6180469716em 1.41575em;
        text-decoration: none;
        font-weight: 600;
    }

    & ul.product-itens li span.promocao {
        border: 1px solid #43454b;
        color: #6d6d6d;
        font-size: 12px;
        padding: .202em .6180469716em;
        font-size: .875em;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 1em;
        border-radius: 3px;
    }
    
    @each $name, $size in $sizes {
        & ul.product-itens li img.#{$name} { 
            max-width: $size;
            max-height: $size;
            border-radius: 3px;
            margin: 0 auto 1.618em;
        } 
    }

    @media(max-width: 700px) {
        & ul.product-itens {
            //flex-direction: column; 
        }
        & ul.product-itens li a {
            margin-bottom: 15px
        }
    }
}